@import url("https://fonts.googleapis.com/css2?family=Tilt+Neon&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Tilt Neon", cursive;
}

.flex-box {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.tooltip-text {
  position: absolute;
  background-color: aliceblue;
  padding: 10px;
  top: 100%;
  color: #000;
  right: 40%;
  z-index: 20;
  visibility: hidden;
}

.tooltip-text::before {
  content: "";
  background-color: aliceblue;
  width: 15px;
  height: 15px;
  position: absolute;
  bottom: 79%;
  left: 8%;
  transform: rotate(45deg);
}

input {
  background: transparent;
  outline: none;
  border: none;
  text-align: center;
  color: #fff;
  width: 70%;
  margin: 0 20px;
}

.top:hover .tooltip-text {
  visibility: visible !important;
}

.top {
  width: 90%;
  flex-direction: row;
  position: relative;
}

.top a img {
  width: 100%;
}

.container {
  padding: 40px;
  width: 100%;
  height: 100vh;
  background-color: #3937fa;
  color: #fff;
  text-align: center;
  justify-content: flex-start;
}

.degree {
  margin-bottom: 2rem;
  margin-left: 1rem;
}

.degree h4 {
  font-size: 5rem;
}

.degree p {
  font-size: 1.7rem;
  color: skyblue;
  font-weight: 600;
}

.weather-info {
  flex-direction: row;
  margin: 4rem 0;
}

.info {
  padding: 20px;
  font-size: 2rem;
}

.info div {
  margin: 20px 0;
}

.icon {
  width: 40%;
}

.icon img {
  width: 100%;
}

.bottom-text {
  font-size: 2rem;
}

@media (min-width: 300px) {
  .top a {
    width: 10%;
  }

  input {
    font-size: 1.5rem;
  }

  .weather-info {
    width: 100%;
  }

  .bottom-text {
    width: 100%;
  }
}

@media (min-width: 800px) {
  .top a {
    width: 4%;
  }

  input {
    font-size: 3rem;
  }

  .weather-info {
    width: 28%;
  }

  .bottom-text {
    width: 50%;
  }
}

.suggestion {
  position: absolute;
  top: 100%;
  background-color: #fff;
  width: 40%;
  height: 30vh;
  opacity: 0.8;
  overflow: scroll;
  color: #000;
  padding: 30px;
  border-radius: 30px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.6);
}

.hide {
  display: none;
}

.suggestion ul {
  margin-top: 60px;
  list-style: none;
  width: 100%;
}

.suggestion ul li {
  margin: 20px 0;
  font-size: 1.7rem;
  cursor: pointer;
  width: 100%;
}

.suggestion hr {
  width: 100%;
}
